.posts {
  list-style: none;
  margin: 0;
  width: 100%;
}

.container{

}

// class selector, targeting elements inside such as a, h2, etc
// nested rules, thanks to Sass
.post {
  margin: 1rem 0;
  a {
    background: inherit;
    color: inherit;
    display: block;
    padding: 1rem;
    text-decoration: none;

  }
  a:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
  }
  h2 {
margin-bottom: 0;

  }
  p {
    color: #777777;
    font-size: .8rem;
    font-style: italic;
  }
}
