.shell {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: calc(var(--max-width) + var(--space-3xl) * 2);
  padding: 0 var(--space-lg);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content {
  flex: 1;
  padding-bottom: var(--space-3xl);
}

.main {
  max-width: var(--max-width);
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    padding: 0 var(--space-2xl);
  }
}
